body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.wrapper.animate {
  pointer-events: none;
}
.wrapper.animate .call {
  width: 400px;
  height: 400px;
  opacity: 1;
  overflow: initial;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}
.wrapper.animate .call p,
.wrapper.animate .call span {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.wrapper.animate .phone {
  -webkit-animation: rotate 0.5s linear 0s forwards;
          animation: rotate 0.5s linear 0s forwards;
}
.wrapper.animate .phone:after {
  width: 0;
  height: 0;
}
.wrapper.animate .phone:before {
  width: 0;
  height: 0;
}
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2s infinite;
          animation: ellipsis steps(4, end) 2s infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
  position: absolute;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.close:before,
.close:after {
  content: '';
  display: block;
  width: 4px;
  height: 40px;
  background-color: #37dab4;
  position: absolute;
  border-radius: 25px;
}
.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.05em;
  }
}
@keyframes ellipsis {
  to {
    width: 1.05em;
  }
}
.call {
  width: 0;
  height: 0;
  background: #37dab4;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px 0 #b0e8db;
          box-shadow: 0 0 40px 0 #b0e8db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 0;
  overflow: hidden;
  ponter-events: none;
}
.call:after {
  content: '';
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  background: rgba(55, 218, 180, 0.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  z-index: -1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  mix-blend-mode: color;
  -webkit-animation: scale-after 3s ease-out 3s infinite normal;
          animation: scale-after 3s ease-out 3s infinite normal;
}
.call:before {
  content: '';
  display: block;
  width: 470px;
  height: 470px;
  position: absolute;
  border-radius: 50%;
  background: rgba(55, 218, 180, 0.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  z-index: -1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-animation: scale-before 3s ease-in-out 3.5s infinite normal;
          animation: scale-before 3s ease-in-out 3.5s infinite normal;
  mix-blend-mode: color;
}
.call p {
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  margin: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.call span:not(.counter) {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: -15px;
  margin-top: 10px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.phone {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px 0 #b0e8db;
          box-shadow: 0 0 40px 0 #b0e8db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: all 3s;
  transition: all 3s;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 30% 55%;
          transform-origin: 30% 55%;
}
.phone img {
  width: 80%;
}
.phone:after {
  content: '';
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  background: rgba(55, 218, 180, 0.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  z-index: -1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-animation: scale-after 3s ease-out 0s infinite normal;
          animation: scale-after 3s ease-out 0s infinite normal;
  mix-blend-mode: color;
}
.phone:before {
  content: '';
  display: block;
  width: 270px;
  height: 270px;
  position: absolute;
  border-radius: 50%;
  background: rgba(55, 218, 180, 0.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  z-index: -1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-animation: scale-before 3s ease-in-out 0.5s infinite normal;
          animation: scale-before 3s ease-in-out 0.5s infinite normal;
  mix-blend-mode: color;
}
@-webkit-keyframes scale-after {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-after {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scale-before {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
  75% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-before {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
  75% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes width-after {
  to {
    width: 300px;
    height: 300px;
  }
}
@keyframes width-after {
  to {
    width: 300px;
    height: 300px;
  }
}
@-webkit-keyframes width-before {
  to {
    width: 270px;
    height: 270px;
  }
}
@keyframes width-before {
  to {
    width: 270px;
    height: 270px;
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 0;
    height: 0;
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 0;
    height: 0;
  }
}
